<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Alpha UJS Test</title>
  <link rel="stylesheet" type="text/css" charset="utf-8" href="/base.css"/>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
