body { font: normal 14px sans-serif; color: #333; background: #E4E4E4; }

.block { padding: 1em 2em; background: #FFF; border: 1px solid #CCC;
  display: inline-block; vertical-align: top; margin-right: 16px; }

/* forms */

.field { margin-bottom: 1em; }

label { color: #666; }
input, select, textarea { width: 400px; border: 1px inset #AAA; background: #FFF;
  padding: 4px; font: normal 14px/1.5 sans-serif;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
textarea { height: 150px; }
select { border-style: outset; }
input[type=submit] { border-style: outset; padding: 4px 10px; width: auto;
  font-family: sans-serif; font-weight: bold; }
input[type=submit]:active { border-style: inset; }
input[type=checkbox] { width: auto; }

.checkboxes label { color: #333; }

/* overlay */
.overlay { position: fixed; top: 0; bottom: 0; left: 0; right: 0;
  opacity: .75; background: #AAA; }

.dialog, .picker {
  border: 1px solid #AAA;
  -webkit-box-shadow: 0 0 6px #999; -moz-box-shadow: 0 0 6px #999; box-shadow: 0 0 6px #999;
}

/* dialogs */
.dialog { width: 300px;
  -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
}
.dialog .titlebar { background: #E4E4E4; color: #333; font-weight: bold;
  font-size: 12px; padding: 4px 10px; border-bottom: 1px solid #CCC;
  -webkit-border-radius: 8px 8px 0 0; -moz-border-radius: 8px 8px 0 0; border-radius: 8px 8px 0 0;
}
.dialog .titlebar .close { float: right; cursor: pointer; }
.dialog .content { background: #FFF; padding: 10px;
  -webkit-border-radius: 0 0 8px 8px; -moz-border-radius: 0 0 8px 8px; border-radius: 0 0 8px 8px;
}
.dialog .content:first-child { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
.dialog .content :first-child { margin-top: 0; }
.dialog .content :last-child { margin-bottom: 0; }

/* pickers */
.picker { background: #FFF; }
.list-picker ul { margin: 0; padding-left: 0; list-style: none;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.list-picker li { padding: 2px; }
.list-picker li.selected { background: #4B7399; color: #FFF; }

/* sortable */
.dragged { opacity: .5; }

/* others */
.loading { background-image: url(ajax-loader.gif);
  background-repeat: no-repeat; background-position: 99% 50%; }

