body { font: normal 14px sans-serif; color: #333; background: #E4E4E4; }

.block { padding: 1em 2em; background: #FFF; border: 1px solid #CCC;
  display: inline-block; vertical-align: top; margin-right: 16px; }

/* forms */

.field { margin-bottom: 1em; }

label { color: #666; }
input, select, textarea { width: 400px; border: 1px inset #AAA; background: #FFF;
  padding: 4px; font: normal 12px monospace;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
textarea { height: 150px; }
select { border-style: outset; }
input[type=submit] { border-style: outset; padding: 4px 10px; width: auto;
  font-family: sans-serif; font-weight: bold; }
input[type=submit]:active { border-style: inset; }
input[type=checkbox] { width: auto; }

.checkboxes label { color: #333; }

/* dialogs */

.dialog {
  border: 1px solid #AAA; width: 300px;
  -webkit-box-shadow: 0 0 6px #999; -moz-box-shadow: 0 0 6px #999; box-shadow: 0 0 6px #999;
  -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
}
.dialog .titlebar { background: #FFF; color: #999; font-weight: bold;
  padding: 4px 10px; border-bottom: 1px solid #AAA;
  -webkit-border-radius: 8px 8px 0 0; -moz-border-radius: 8px 8px 0 0; border-radius: 8px 8px 0 0;
}
.dialog .titlebar .close { float: right; cursor: pointer; }
.dialog .content  { background: #FFF; padding: 10px;
  -webkit-border-radius: 0 0 8px 8px; -moz-border-radius: 0 0 8px 8px; border-radius: 0 0 8px 8px;
}

.dialog .content:first-child {
  -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
}

/* sortable */

.dragged { opacity: .5; }

